.btn-blue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C13636; 
    color: bisque;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-blue:hover {
    background-color: #712A2A;
}